{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Panier
{% endblock %}

{% block body %}

	<div class="col-md-10 mx-auto">

		{% if monPanier.id_product is defined and monPanier.id_product|length > 0 %}


			<table class="table table-bordered table-light table-hover table-striped">

				<thead class="table-dark text-center">

					<tr>

						<th class="text-light">Nom</th>
						<th class="text-light">Quantité</th>
						<th class="text-light">Prix unitaire (€)</th>
						<th class="text-light">Prix total TTC (€)</th>
						<th class="text-light">Actions</th>

					</tr>

				</thead>

				<tbody>

					{% set count = monPanier.id_product|length -1 %}
					{% for i in 0..count %}

						<tr>
							<td>{{monPanier.name[i]}}</td>
							<td class="text-center">{{monPanier.quantity[i]}}</td>
							<td class="text-center">{{monPanier.unit_Price[i]}}</td>
							<td class="text-center">{{monPanier.total_Price_TTC[i]}}</td>
							<td class="d-flex justify-content-center"><a  class="btn btn-danger" href="{{path('panier_delete', {'id': monPanier.id_product[i]}) }}"><i class="bi bi-x-square text-light"></i> Retirer du panier</a></td>

						</tr>
					{% endfor %}


				</tbody>

				<tfoot class="table-info">

					<tr>
						<th class="text-warning" colspan="3">Total du panier (€)</th>
						<td class="text-warning text-center">{{total}}</td>
						<td class="d-flex justify-content-center"><a class="btn btn-danger" href="{{ path('panier_delete_all')}}"> <i class="bi bi-x-square text-light"></i> vider le panier</a></td>
					</tr>

				</tfoot>

			</table>


		{% else %}
			<p>Votre panier est vide</p>
		{% endif %}

		<div class="col-md-12 d-flex flex-row-reverse ">

			
			<a class="btn btn-success" href="{{ path('panier_validate')}}">valider le panier</a>
		</div>
	</div>


{% endblock %}
