{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	| Mon compte
{% endblock %}

{% block body %}

	<div id="user-info">
		<p>
			<span style="text-decoration: underline">Nom:</span>
			{{user.nom}}</p>
		<p>
			<span style="text-decoration: underline">Pseudo:</span>
			{{user.username}}</p>
		<p>
			<span style="text-decoration: underline">E-mail:</span>
			{{user.email}}</p>
		<p>
			<span style="text-decoration: underline">Date de création:</span>
			{{user.createdAt|date("d/m/Y")}}</p>
	</div>
	<div id="my-orders">

		<h2>Mes commandes</h2>
		<table class="table">
			<thead>

				<tr>
					<th>N° de commande</th>
					<th>Date de commande</th>
					<th>Prix de la commande</th>
					<th>Details de la commande</th>
				</tr>
			</thead>

			<tbody>

				{% for order in orders %}
					<tr>
						<td>{{order.code}}</td>
						<td>{{order.createdAt|date(d/m/Y)}}</td>
						<td>{{order.total}}</td>
						<td><a href="#">Voir les détails</a></td>
					</tr>
				{% endfor %}

			</tbody>

		</table>
	</div>


{% endblock %}
